---
BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -2
ReflowComments: false
TabWidth: 4
UseTab: Never
PointerAlignment: Right
ColumnLimit: 80
IndentCaseLabels: true
BraceWrapping:
    AfterClass:            true
    AfterControlStatement: true
    AfterEnum:             true
    AfterFunction:         true
    AfterNamespace:        true
    AfterObjCDeclaration:  true
    AfterStruct:           true
    AfterUnion:            true
    BeforeCatch:           true
    BeforeElse:            true
    IndentBraces:          false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: TopLevel
AlwaysBreakTemplateDeclarations: true
---
Language: Cpp
Standard: Cpp11
